name: CI/CD Pipeline

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mern-app:latest .

      - name: Trivy Docker Image Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'image'
          image-ref: '${{ secrets.DOCKERHUB_USERNAME }}/mern-app:latest'
          format: 'table'
          exit-code: '0'
          severity: 'CRITICAL,HIGH'
      - name: Saving Docker reports
        run: |
          trivy fs . --format table --severity CRITICAL,HIGH --exit-code 0 > trivy-docker-report.txt
      - name: Uploading docker reports
        uses: actions/upload-artifact@v4
        with:
          name: trivy-docker-report
          path: trivy-docker-report.txt
        

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/mern-app:latest

